body{
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}


#canvas{
    width: 240px;
    height: 380px;
    background-color: white;
    border-radius: 10px;
}

img{
    width: 220px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
h3{
    font-size: 15px;
    text-align: center;
    font-weight: 800;
    margin: 16px;
} 
p{
    font-size: 12px;
    text-align: center;
    color: #787878;
    margin: 16px;
}